section.items(style=`background-color : ${component.style.backgroundColor || '#fff'};`)
  h2(style=`color: ${component.style.titleColor || '#000'}; font-size: ${component.style.titleFontSize}rem;`)
    | #{component.content.title}
  div.container_items
    div.item_icone(style=`background: ${component.style.backgroundColorCard || '#fff'};`)
      img(src=component.content.icone1)
      h3(style=`font-size: ${component.style.titleSize}rem; color: ${component.style.title1Color || '#000'};`)
        | #{component.content.title1}
      p(style=`font-size: ${component.style.subTitleSize}rem; color: ${component.style.paragraphColor || '#000'};`)
        | #{component.content.paragraph1}

    div.item_icone(style=`background: ${component.style.backgroundColorCard || '#fff'};`)
      img(src=component.content.icone2)
      h3(style=`font-size: ${component.style.titleSize}rem; color: ${component.style.title2Color || '#000'};`)
        | #{component.content.title2}
      p(style=`font-size: ${component.style.subTitleSize}rem; color: ${component.style.paragraphColor || '#000'};`)
        | #{component.content.paragraph2}

    div.item_icone(style=`background: ${component.style.backgroundColorCard || '#fff'};`)
      img(src=component.content.icone3)
      h3(style=`font-size: ${component.style.titleSize}rem; color: ${component.style.title3Color || '#000'};`)
        | #{component.content.title3}
      p(style=`font-size: ${component.style.subTitleSize}rem; color: ${component.style.paragraphColor || '#000'};`)
        | #{component.content.paragraph3}
